<div class="page-edit">
    <p class="close">x</p>	
        <form method="put" action="" id="the-edit-form">
            <table class="edit-table" cellpadding="5">
                <tr>
                    <td class="label" valign="top">Name</td><td valign="top">: <input type="text" name="NAME" value="" required="required"></td>
                </tr>
                <tr>
                    <td class="label">Price</td><td>: <input type="number" name="PRICE" value="" required="required" pattern="[A-Za-z0-9]{1,20}"></td>
                </tr>
                <tr>
                    <td class="label">Rating</td><td>: <input type="number" name="RATING" value="" step="0.1" min="1" max="5" required="required" pattern="[A-Za-z0-9]{1,20}"></td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="send">
                        <input type="button" name="cancel" value="cancel" class="cancel">
                    </td>
                </tr>
            </table>
        </form>
 </div>
